@import 'variables'
@import 'bootstrap'

.section-title
  margin-top 30px
  
.section-sub-title
  margin-bottom 25px

.sections
  padding-top 15px
  padding-bottom 15px
    
.odd
  background-color $gray-lighter
  
.index-links
  ul > li
    padding 10px
    font-size 18px

.down
  margin-top 3% 
  font-size 25px
  text-align center
  
.btn-one
  margin-right 5px 